* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a69a9a;
}
.profile-card {
    background: #14caab;
    width: 90%;
    max-width: 350px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.profile-card h2 {
    font-size: 22px;
    margin-bottom: 5px;
}
.profile-card p {
    color: #000;
    margin-bottom: 15px;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-icons a {
    text-decoration: none;
    color: #fff;
    background: #007bff;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
}
.social-icons a:hover {
    background: #80b300;
}